PORT=8000
MONGODB_URI=sample_mongodb_uri
CORS_ORIGIN=project_frontend_url
SECRET_ACCESS_TOKEN=sample_access_token
SECRET_ACCESS_TOKEN_EXPIRY=1d
SECRET_REFRESH_TOKEN=sample_refresh_token
SECRET_REFRESH_TOKEN_EXPIRY=10d