PORT=8000
MONGODB_URI=sample_mongodb_uri
CORS_ORIGIN=project_frontend_url

ACCESS_TOKEN_SECRET_KEY=sample_access_token
ACCESS_TOKEN_SECRET_KEY_EXPIRY=1d
REFRESH_TOKEN_SECRET_KEY=sample_refresh_token
REFRESH_TOKEN_SECRET_KEY_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=examplecloudname
CLOUDINARY_API_KEY=exampleapikey
CLOUDINARY_API_SECRET=exampleapisecret